@page "/"
@model Proiect_Web.Pages.Rezervari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
 <div class="form-actions no-color">
 <p>
 Find by Monitor Name:
 <input type="text" name="SearchString" value="@Model.CurrentFilter"
/>
 <input type="submit" value="Search" class="btn btn-primary" /> |
 <a asp-page="./Index">Back to full List</a>
 </p>
 </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.MonitorSort">
                @Html.DisplayNameFor(model => model.Rezervare[0].Monitor.NumeComplet)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PartieSort">
                @Html.DisplayNameFor(model => model.Rezervare[0].Partie)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Tarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].Echipament)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].NrPersoane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].DataProgramare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].ScoalaSchi.NumeScoalaSchi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervare[0].CategorieSport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RezervareD.Rezervari) {
            string selectedRow = "";
            string monitorNume = "";
            if(item.Monitor != null)
            {
                if(item.Monitor.Nume != null)
                {
                    monitorNume = item.Monitor.Nume;
                }
                if(item.Monitor.Prenume != null)
                {
                    monitorNume = monitorNume + " " + item.Monitor.Prenume;
                }
            }
            if (item.ID == Model.RezervareID)
         {
         selectedRow = "table-success";
         }
         <tr class="@selectedRow">
            <td>
                   
                @Html.DisplayFor(modelItem => item.Monitor.NumeComplet)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Echipament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPersoane)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataProgramare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScoalaSchi.NumeScoalaSchi)
                </td>
                <td>
                    @{
                        foreach (var categorie in item.CategorieSport)
                        {
                            @categorie.Categorie.ID @: @categorie.Categorie.CategorieNume <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
