@page "{id:int?}"
@model Proiect_Web.Pages.ScoliSchi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScoalaSchi[0].NumeScoalaSchi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ScoalaSchiData.ScoliSchi)
        {
            string selectedRow = "";
            if (item.ID == Model.ScoalaSchiID)
            {
                selectedRow = "table-success";
            }
     <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeScoalaSchi)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.ScoalaSchiData.Rezervari != null)
{
     <h3>Books Edited by Selected ScoalaSchi</h3>
     <table class="table">

        @foreach (var item in Model.ScoalaSchiData.ScoliSchi)
        {
            string selectedRow = "";
            if (item.ID == Model.ScoalaSchiID)
            {
                selectedRow = "table-success";
            }
         <tr class="@selectedRow">

         <td>
                    @{
                        foreach (var b in item.Rezervari)
                        {

                             @b.Monitor.NumeComplet

                 <br />
                        }
                    }
         </td>
         </tr>
        }
     </table>
}
